<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <packageSources>
    <clear/>
    <add key="development" value="https://pkgs.dev.azure.com/lqhcp/_packaging/lqhcp/nuget/v3/index.json"/>
  </packageSources>
  
  <packageSourceCredentials>
    <development>
      <add key="Username" value="ktamayo"/>
      <add key="ClearTextPassword" value="%LQHCP_ADO_PAT%"/>
    </development>

  </packageSourceCredentials>

</configuration>
